/* Header */
section {
    margin-left: 3em;
    margin-right: 3em;
    position: relative;
    height: auto;
}

.content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 80px;
}

#header {
    overflow: hidden;
    position: relative;
    height: 8em;
}

/* Logo */

#logo {
    position: absolute;
    top: 3em;
    left: 3em;
}

#logo h1 {
    padding: 0em 0.25em 0em 0em;
    letter-spacing: -1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.50em;
    font-weight: 800;
    color: #FFF;
}

/* User */
#logout {
    position: absolute;
    right: 3em;
    top: 3em;
}

#logout a {

    background: #2B8FC4;
    padding: 0.7em;
    border-radius: 0.1em;
    box-shadow: inset 0px -15px 10px 0px rgba(0, 0, 0, 0.10);
    text-shadow: none;
    text-decoration: none;
    font-size: 1em;
    color: #FFFFFF;
}

#logout a:hover {
    background-color: #167cb2;
}

.hide {
    visibility: hidden;
}

/* Footer */
.footer {
    width: 100%;
    height: 80px;
    margin-top: -80px;
    overflow: hidden;
    border-top: 1px solid #212124;
    display: inline-block;
}

#copyright
{
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,0.08);
    align-content: center;
}

#copyright p
{
    letter-spacing: 0.20em;
    text-align: left;
    text-transform: uppercase;
    font-size: 1em;
    color: rgb(255,255,255)
}

#locale{
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,0.08);
    align-content: flex-end;
}

#locale a
{
    letter-spacing: 0.20em;
    text-align: right;
    text-transform: uppercase;
    font-size: 1em;
    color: rgba(255,255,255,0.3);
    text-decoration: none;

}

#nav {
    position: absolute;
    top: 1.1em;
    right: 0;
    overflow: hidden;
}


#nav li {
    display: inline-block;
}

#nav a {
    display: block;
    float: left;
    padding: 1em 1.5em;
    border-radius: 4px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.10em;
    color: #FFF;
}

#nav .current_page_item {
}

#nav .current_page_item a {
    background: #2B8FC4;
    box-shadow: inset 0px -15px 10px 0px rgba(0,0,0,0.10);
    text-shadow: none;
    color: #FFFFFF;
}

