@charset "UTF-8";
@font-face {
    font-family: 'FontAwesome';
    src: url('../font/fontawesome-webfont.eot?v=4.0.1');
    src: url('../font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=4.0.1') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

body {
    margin: 0;
    padding: 0;
    line-height: 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    color: #686868;
}

body, #skel-panels-pageWrapper {
    background: #101214 url(../images/main-bg.png) repeat;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: #CFCFCF;
}

h2 {
    letter-spacing: -1px;
    font-size: 2.00em;
}

p, ol, ul {
    margin-top: 1em;
}

a {
    text-decoration: underline;
    color: #909090;
    padding: 0.5em;
}

a:hover {
    text-decoration: none;
}

/*Table*/
table {
    border-collapse: collapse;
    width: 100%;
}

caption{
    text-transform: uppercase;
    font-size: 1em;
    color: #FFF;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd){
    background-color: #e0e0de;
}

tr:nth-child(even){
    background-color: #f2f2f2
}

.pagination {
    display: inline-block;
    align-content: center;
}

.pagination a {
    color: #f2f2f2;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 0.9em;
}

.pagination a.active {
    background-color: #2B8FC4;
    color: white;

}

/* Header */
#header-wrapper:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 100px;
    width: 100%;
    height: 100%;
    background: rgba(60, 50, 70, 0.5);
}

.wrapper {
    padding: 5em 0em 3em 0em;
}

#header-wrapper {
    background: url(../images/banner.jpg) no-repeat center top;
    background-size: cover;
    position: relative;
}

#header {
    position: relative;
    z-index: 1;
}

header {
    margin-bottom: 3em;
    position: relative;
}

header h2 {
    display: block;
    margin: 0;
    padding: 0;
}

header .byline {
    display: block;
    margin: 1.50em 0;
    line-height: 2em;
    font-weight: 200;
    color: rgba(255, 255, 255, .8);
}

/* Banner */

#banner {
    overflow: hidden;
    padding: 10em 0;
    text-align: center;
    z-index: 1;
    position: relative;
}

#banner header h2 {
    text-transform: uppercase;
    font-size: 3em;
    color: #FFF;
}

#banner h3 {
    text-transform: uppercase;
    font-size: 1.2em;
    color: #FFF;
}

#banner header .byline {
    padding: 0 5em;
    font-size: 1.50em;
}

#banner .button {
    margin-top: 1em;
}

form .error{
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    color: #f7cec1;
    display: block;
}

/* Input form */

.form h3{
    text-transform: uppercase;
    font-size: 1em;
    color: #FFF;
}

.form input[type="text"], input[type="password"], input[type="number"] {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    color: #7f7f7f;
    padding: 0 10px;
    vertical-align: top;
    width: 17em;
    height: 2.5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

.form input[type="submit"] {
    position: relative;
    display: inline-block;
    margin-top: 1em;
    background: #2B8FC4;
    padding: 0.8em 2em;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 300;
    color: #FFF !important;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    text-align: center;
}

.form input[type="submit"]:hover {
    background: #167cb2;
    color: #FFF;
}

.form input[type="submit"]:disabled {
    background: #686868;
    color: #FFF;
}

.form ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.form ul li{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 10%;
    height: 3em;
    text-align: center;
}

.form ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.form ul li label{
    display: block;
    position: absolute;
    font-weight: 300;
    font-size: 1.5em;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.form ul li:hover label{
    color: #FFFFFF;
}

.form ul li .check{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.form ul li:hover .check {
    border: 5px solid #FFFFFF;
}

.form ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.form input[type=radio]:checked ~ .check {
    border: 5px solid #2B8FC4;
}

.form input[type=radio]:checked ~ .check::before{
    background: #2B8FC4;
}

.form input[type=radio]:checked ~ label{
    color: #2B8FC4;
}
/* Menu */

.topnav {
    overflow: hidden;
}

.topnav li{
    display: inline-block;
}

.topnav a {
    float: left;
    display: block;
    color: #FFF;
    text-align: center;
    padding: 1em 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.10em;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid #2B8FC4;
}

.topnav a.active {
    border-bottom: 3px solid #167cb2;
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}
.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    background-color: #FFFFFF;
    width: 17em;
    height: 2.5em;
}
.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 999;
    list-style: none;
    background-color: #FFFFFF;
    width: 17em;
    height: 2em;
    font-size: 1.2em;
}

.select-options:hover{
    background-color: #AAAAAA;
}

/* Footer */


